.serviceHeader {
    margin: 50px auto;
    width: 85%;
    height: max-content;
    justify-content: center;
    text-align: center;
    font-family: Montserrat;
}
.serviceHeader h1{
    font-weight: 700;
    font-size: 3.75rem;
    text-align: center;
}
.serviceContainer{
    width: 1080;
    height: 460;
    border-radius: 12px;
    padding: 30px;
    background: var(--bgSecondary);
    font-family: Montserrat;
    margin: 30px auto;
}
.serviceLeftContainer{
    display: grid;
    grid-template-columns: 3fr 5fr;
    overflow: hidden;
}
.serviceRightContainer{
    display: grid;
    grid-template-columns: 5fr 3fr;
    overflow: hidden;
}
.serviceContainer img{
    object-fit: cover;
    aspect-ratio: 16/9;
    width:  100%;
    height: 100%;
}
.containerTxt{
    height: auto;
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
}
.containerTxt h2{
    font-family: Montserrat;
    font-weight: 600;
    font-size: 40px;
}
.containerTxt p{
    font-family: Montserrat;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    word-wrap: break-word;

}



@media (max-width: 1024px) {
    .serviceContainer{
        width: 100%;
        height: auto;
        border-radius: 12px;
        padding: 20px;
    }
    .serviceRightContainer{
        display: flex;
        justify-content: space-between;
        gap: 3%;
    }
    .serviceLeftContainer{
        display: flex;
        justify-content: space-between;
        gap: 3%;
    }
    .serviceContainer img{
        object-fit: contain;
        width: 87%;
        height: 100%;
    }
    .containerTxt{
        display: flex;
        flex-direction: column;
        gap: 25px;
        justify-content: center;
        height: 350px;

    }
    .containerTxt h2{
        font-family: Montserrat;
        font-weight: 600;
        font-size: 35px;
    }
    .containerTxt p{
        font-family: Montserrat;
        font-weight: 400;
        font-size: .9375rem;
    }
    
}
@media (max-width: 768px) {
    .serviceContainer img{
        width: 58%;
    }
    .containerTxt{
        height: 350px;

    }
    .containerTxt h2{
        font-size: 30px;
    }
    .containerTxt p{
        font-size: 13px;
    } 
}

@media (max-width: 586px) {
    .serviceContainer img{
        width: 48%;
    }
    .containerTxt{
        height: auto;

    }
    .containerTxt h2{
        font-size: 23px;
    }
    .containerTxt p{
        font-size: 11px;
    } 
}
@media (max-width: 479px) {
    .serviceRightContainer{
        flex-direction: column-reverse;
        justify-content: space-between;
    }
    .serviceLeftContainer{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .serviceContainer img{
        width: 100%;
        height: 200px;
        object-fit: cover;
    }
    .containerTxt{
        width: 100%;
        height: auto;
        gap: 18px;
        margin-top: 10px;
    }
    .containerTxt h2{
        font-size: 30px;
    }
    .containerTxt p{
        font-size: 15px;
    } 
}