.caseBannerTitle{
    font-weight: 700;
    font-size: 3.75rem;
    text-align: center;
}
.caseBannerImg{
    width: 100%;
    height: auto;
    object-fit: cover;
}
.doublePack{
    display:grid;
    grid-template-columns: 1fr 2fr;

}
.showcaseImg{
    width: 100%;
    object-fit: cover;
    margin-bottom: 60px;
}

.factsStats{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}
.statsPack{
    width: 100%;
    height: auto;
    padding: 50px;
    border-radius: 12px;
    background: #141413;
    gap: 10px;
    column-gap: 10px;
    font-family: Montserrat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.statsPack:hover{
    width: 100%;
    height: auto;
    padding: 40px;
    border-radius: 12px;
    background: #D2B270;
    transition: all 0.5s ease;
}
.statsPack p:first-child{
    font-weight: 700;
    font-size: 2.5rem;
}
.statsPack p:last-child{
    font-weight: 500;
    font-size: 1rem;
}
