.container{
  width: 80%;
  margin: auto auto;
}
.container2{
  width: 80%;
  margin: auto auto;
}
.banner{
  height: 702px;
  display: grid;
  grid-template-columns: 49% 50%;
  width: 90%;
  margin: auto 0px auto auto;
  overflow: hidden !important;
}
.bannerTxt{
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 30px;
}
.banner img{
  position: absolute;
  width: 601px;
  height: 662px;
  right: 0%;
  z-index: -2;
  overflow:hidden ;
}
.bannerTxt h1{
  font-family: "poppins", sans-serif;
  font-size: 4.375rem;
  font-weight: 400;
  line-height: 100%;
}
.bannerTxt p{
  font-family: "poppins", sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
}
.bannerTxt .bannerBtn{
  width: 100%;
  display: flex;
  font-family: "poppins", sans-serif;
  align-content: center;
  gap: 3%;
}
.bannerTxt .bannerBtn div{
  width: 258px;
  text-align: center;
  padding:2% 4%;
  font-weight: 700;
  font-size: 1.5rem;
  border-radius: 1.5rem;
  display: flex;
  justify-content: center;
  align-content: center;
}
.bannerTxt .bannerBtn div:first-child{
  border: solid #D2B270 2px;
  background: #D2B270;
  color: #141413;
}
.bannerTxt .bannerBtn div:last-child{
  border: solid #D2B270 2px;
  background: #1C1C1C;
  color: #ffffff;
}

/*ABOUT SECTION*/
.aboutSection{
  height: max-content;
  padding: 1.25rem 10%;
  background: var(--bgSecondary);
  border-radius: 12px;
  margin-top: -76;
  z-index: 7777;
}
.aboutSection div{
  text-align: center;
  font-family: "poppins", sans-serif;
  margin-top: 5px;
}
.subHeading{
  font-family: Montserrat;
  font-weight: 700;
  font-size: 28px;
  color: #D2B270;
  text-align: center;
}
.aboutSection div p{
  font-weight: 400;
  font-size: 18px;
  line-height: 23px;
  text-align: center;
  margin-top: 30px;
  text-align: justify;
}


/*OUR DESIGN SECTION*/
.designSection{
  margin-top: 70px;
}
.designContainer{
  margin-top: 40px;
}
.designContainerPack1{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 2%;
  height: fit-content;
}
.designContainerPackInner {
  width: 100%;
  background: var(--bgSecondary);
  padding: 5% 3% 5% 3%;
  color: var(--textPrimary);
  border-radius: 0.75rem;
  overflow: hidden;
}

.packh3{
  font-family: "DM sans", sans-serif;
  font-weight: 600;
  font-size: 1.7rem;
  line-height: 22px;
  margin: 8px 0 18px 0;
}

.packp{
  font-family: "poppins", sans-serif;
  font-weight: 400;
  font-size: 17px;
  line-height: 20px;
  letter-spacing: 0%;
}
.designContainerPack2{
  display: flex;
  gap: 2%;
  justify-content: center;
  margin-top: 2%;
}

/*Our Development Service*/
.devContainerPack{
  width: 100%;
  display: flex;
  flex-direction: column;
}
.devContainerPack img{
  height: 212px;
  width: 100%;
  border-radius: .75rem;
  object-fit: cover;
  object-position: top;
  margin-bottom: 10px;
}


/*Testimonials*/
.testimonialSection{
  margin-top: 100px;
}
.testimonialPack{
  display: flex;
  gap: 3%;
}


@media (max-width: 1024px) {
  .banner{
    height: 530px;
  }
  .bannerTxt h1{
    font-size: 3.4375rem;
  }
  .bannerTxt p{
    font-size: .9575rem;
  }
  .banner img{
    width: 450px;
    height: auto;
  }
  .bannerTxt .bannerBtn div{
    font-size: 1.2rem;
  }
}

@media (max-width: 768px) {
  .container{
    width: 88%;
  }
  .container2{
    width: 88%;
  }
  .banner{
    height: 410px;
  }
  .bannerTxt {
    gap: 20px;
    justify-content: center;
  }
  .bannerTxt h1{
    font-size: 45px;
  }
  .bannerTxt p{
    font-size: .9575rem;
  }
  .banner img{
    width: 350px;
    height: auto;
  }
  .bannerTxt .bannerBtn div{
    font-size: 16.2px;
  }

  /*About Section*/
  .aboutSection{
    padding: .9375rem 5%;
    margin-top: -40px;
  }
  .aboutSection div{
    margin-top: 5px;
  }
  .subHeading{
    font-size: 23px;
  }
  .aboutSection div p{
    font-size: 13px;
    line-height: 20px;
    margin-top: 20px;
  }
 /*design Section*/
  .designContainerPackInner {
    padding: 2% 2% 3% 2%;
  }
  .packh3{
    font-size: 19px;
  }
  .packp{
    font-size: 11px;
    line-height: 15px;
  }
 /*development Section*/
  .devContainerPack img{
    height: 182px;
  }
  .devContainerPackText .packh3{
    font-size: 19px;
    margin: 6px 0 6px 0;
  }
}


@media (max-width: 576px) {
  .container{
    width: 92%;
  }
  .container2{
    width: 92%;
  }
  .banner{
    height: 350px;
  }
  .bannerTxt h1{
    font-size: 35px;
  }
  .bannerTxt p{
    font-size: 13px;
  }
  .banner img{
    width: 280px;
  }
  .bannerTxt .bannerBtn div{
    font-size: 12.2px;
  }
  /*Our Development Service*/
  .devContainerPack img{
    height: 100px;
    margin-bottom: 5px;
  }
  .devContainerPackText .packh3{
    font-size: 15px;
    margin: 5px 0 5px 0;
  }
  /*Testimonials*/
  .testimonialSection{
    margin-top: 60px;
  }
  .testimonialPack{
    display: flex;
    gap: 3%;
  }
}


@media (max-width: 479px) {
  .banner{
    grid-template-columns: 62% 35%;
    gap: 5%;
    margin:0 5%;
    height: 350px;
    overflow: hidden !important;
    display: flex;
    width: auto;
  }
  .bannerTxt{
    justify-content:center;
    width: 100%;
    gap: 18px;
  }
  .banner img{
    width:215px;
    margin-right:0px;
    height: 310px;
    display: none;
  } 
  .bannerTxt h1{
    font-size: 32px;
    line-height: 29px;
  }
  .bannerTxt p{
    font-size: 14px;
  }
  .bannerTxt .bannerBtn{
    margin-bottom: 0px;
    width: 100%;
    gap: 3%;
  }
  .bannerTxt .bannerBtn div{
    font-size: 12px;
  }

  /*ABOUT SECTION*/
  .aboutSection{
    height: max-content;
    padding: 1rem 6%;
    margin-top: 0px;
  }
  .aboutSection div{
    margin-top: 5px;
  }
  .subHeading{
    font-size: 18px;
  }
  .aboutSection div p{
    font-size: 13px;
    line-height: 15px;
    margin-top: 10px;
  }
  /*OUR DESIGN SECTION*/
  .designSection{
    margin-top: 50px;
  }
  .designContainer{
    margin-top: 20px;
  }
  .packh3{
    font-size: 20px;
    margin: 8px 0 13px 0;
    line-height: 18px;
  }
  .packp{
    font-size: 13px;
    line-height: 18px;
    display: -webkit-box;
    -webkit-line-clamp: 4; /* Limit to 3 lines */
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  /*Our Development Service*/
  .designContainerPack1{
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    flex-direction: column;
    gap: 21px;
  }
  .devContainerPack img{
    height: 170px;
    object-fit: cover;
    object-position: top;
    margin-bottom: 5px;
  }
  .devContainerPackText .packh3{
    font-size: 20px;
    margin: 5px 0 5px 0;
  }
  .designContainerPack2{
     padding-top: 10px;
    padding-bottom: 10px;
  }

  /*Testimonials*/
  .testimonialSection{
    margin-top: 60px;
  }
  .testimonialPack{
    display: flex;
    gap: 3%;
  }
}