.navbar{
    display: flex;
    height: auto;
    width: 80%;
    margin: auto auto;
    align-items: center;
    justify-content: space-evenly;
}
.logo{
    width: 68px;
    height: 72px;
    display: inline-block;
}
.navLinks{
    list-style-type: none;
    display: flex;
    gap: 1%;
    width: 5500px;
    width: auto;
}
.navLinks a{
    width:125px;
    color: #FFFFFF;
    opacity: 40%;
    text-align: center;
    padding: 2px;
    font-size: 16px;
    font-family: "Montserrat";
}
.navLinks a:active{
    opacity: 100%;
    transition: 180ms ease-in ;
}
.navLinks a:hover{
    opacity: 100%;
    transition: 180ms ease-in ;
}