.navbar {
    display: flex;
    height: auto;
    width: 80%;
    margin: auto;
    align-items: center;
    justify-content: space-between;
    position: relative;
}

.logo {
    width: 68px;
    height: 72px;
    display: inline-block;
}

.navLinks {
    list-style-type: none;
    display: flex;
    gap: 1%;
    width: auto;
    align-items: center;
}

.navLinks a {
    width: 125px;
    color: var(--textPrimary);
    opacity: 60%;
    text-align: center;
    padding: 2px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Montserrat";
}

.navLinks a:hover,
.navLinks a:active {
    opacity: 100%;
    transition: 180ms ease-in;
}

/* Dropdown styling */
.dropdown {
    position: relative;
    width: 128px;
    color: var(--textPrimary);
/*     opacity: 40%; */
    text-align: center;
    padding: 2px;
    font-weight: 500;
    font-size: 16px;
    font-family: "Montserrat";
    cursor: pointer;
}
.dropdown span{
    opacity: 60%;
}

.dropdownContent {
    width: max-content;
    display: none;
    position: absolute;
    background-color: #333333b4;
    top: 100%;
    left: 0;
    z-index: 999;
    border-radius: 4px;
    padding: 10% 20%;

}

.dropdown:hover .dropdownContent {
    display: block;
}

.dropdownContent a {
    display: block;
    padding: 8px;
    color: #fff; 
    text-decoration: none;
    text-align: center;
    opacity: 87%;
    width: 100%;
    transition: all ease-in 450ms;
}

.dropdownContent a:hover {
    color: white; 
    opacity: 100%;
    padding:15px;
    font-size: large;
}

/* Hamburger menu styling */
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: 5px;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: var(--hamburger);
}

/* Responsive styles */
@media screen and (max-width: 768px) {
    .navbar {
        margin: auto;
        margin-top: 15px;
    }
    .logo {
        width: 48px;
        height: 52px;
        display: inline-block;
    }
    .hamburger {
        display: flex;
    }

    .navLinks {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: #222;
        gap: 10px;
        padding: 10px 0;
    }

    .navLinks.showMenu {
        display: flex;
    }

    .navLinks a {
        width: 100%;
        padding: 10px 0;
    }
    .dropdown {
        width: 100%;
    }
    .dropdownContent {
        position: relative;
        background-color: transparent;
        width: 100%;
        padding: 0;
    }

    .dropdown:hover .dropdownContent {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}
@media screen and (max-width: 486px) {
    .logo {
        width: 35px;
        height: 38px;
        display: inline-block;
    }
}